*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 100%;
    margin: 0 auto;
}

nav{
    padding: 1rem;
    background-color: aqua;
}

.nav-con{
    display: flex;
    justify-content: space-between;
}

.Logo a{
    font-size: 4rem;
    color: blue;
    text-decoration: none;
}

.Menu{
    display: flex;
    list-style: none;
    align-items: center;
}

.Menu li{
    margin: 0 1rem;
}

.Menu li a{
    color: rgb(255, 127, 170);
    text-decoration: none;
    font-size: 1.5rem;
}

.maincontent{
    background-color: rgb(255, 244, 196);
}

.maincontent-con{
    display: flex;
}

.maincontent-info{
    width: 100%;
    padding: 2rem;
}

.maincontent-info h3{
    font-size: 2rem;
}

.maincontent-info p{
    margin: 1.5rem 0;
}

.maincontent-info .maincontent-btn{
    background-color: aqua;
    color: rgb(245, 11, 245);
    padding: .5rem;
    border-radius:  25px;
    text-decoration: none;
}

.maincontent-img img{
    width: 100%;
    height: auto;
    padding: 1rem;
    border-radius: 500px;
}

.content-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
}  

.content-item img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;

}

.content-item h4{
    margin: 1rem 0;
}

.content-item p{
    margin-top: .5rem 0;
}

.content-item a{
    display: inline-block;
    color: rgb(1, 15, 15);
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding: .5rem;
}

.footer-top{
    margin-top: 2rem;
    padding: 3rem;
    background-color: rgb(111, 109, 243);
    color: aquamarine; 
}

.footer-top-con{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    column-gap: 2rem;
}

.footer-top-item-con{
    display: flex;
    margin: 1rem 0;
}

.footer-top-item-con .date{
    background-color: aqua;
    color: blueviolet;
    padding: .5rem;
    bottom: 10px;
    border-radius: 10px;
    text-align: center;
    margin-right: 10px;
}

.footer-top-item:nth-child(2) h4,
.footer-top-item:nth-child(3) h4{
    margin-bottom: 1rem;
}

.footer-button{
    background-color: aqua;
    padding: 1rem;
    text-align: center;
}

.social-links a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #bbb;
    margin-bottom: 12px;
    font-size: 1rem;
    transition: 0.3s;
}

.social-links a:hover {
    color: var(--white);
    transform: translateX(5px);
}

.social-links i {
    font-size: 1.2rem;
    width: 25px;
    text-align: center;
}

.fa-facebook { color: #3b5998; }
.fa-instagram { color: #E1306C; }
.fa-line { color: #00B900; }
.fa-google-plus { color: #db4a39; }